*{
    margin:0;
    padding:0;
}

.cabecalho{

    background-color:aquamarine;
    color:blueviolet;
    display:flex;
    justify-content:space-around;
}
    
.cabecalhoimagem{
    Width:20%;
}
.cabecalhoListaItem{
    display:inline-block;
    margin:0 16px;
    padding:24px 0;
}