*{
    margin:0;
    padding:0;
}

.cabecalho{
    background-color:#ff7ff9;
    color:#FFFFFF;
    display:flex;
    justify-content:space-around;
    padding:2px 0;
    font-size:18px;
}
    
.cabecalhoimagem{
    Width:10%;
}

body{
    background-color:#ff7ff9
}

.cabecalhoListaItem{
    display: inline-block;
    margin:0 16px;
    padding:24px 0;
}
.sobreImagem{
    Width: 40%;
}
.sobre{
    background-image:linear-gradient(#FA3EC6,#4EBFE9);
    color:#FFFFFF;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.sobreConteudo{
    Width:24%;
    padding:0 150px 15em 0;
}

.letraParagrafo{
    font-size: 20px;
}

.membroImagem{
    width: 200px;
}

.membroIcone{
    Width:40px
}

.membroDiv{
    text-align:center;
    padding-bottom: 30px;
}

.membrosTitulo{
    text-align: center;
    padding: 50px;
}

.membrosTodos{
    display:grid;
    grid-template-columns: 10% 20% 20% 20% 20%;
}

footer{
    background-color: #4EBFE9;
    padding: 15px 0;
    text-align:center;
}

.rodaPe{
    font-size: 18px;
    color:#FA3EC6
}